**/.env
**/build
**/dist
**/.next
**/node_modules
**/__pycache__
*_backup
**/.ruff_cache

docs/superpowers
.vercel

# Editor
.idea

# OS
.DS_Store

# Logs & local
*.log
*.local
dist-ssr

# Playwright operations
.playwright-mcp
