**/.env
**/build
**/dist
**/node_modules
**/__pycache__
*_backup
**/.ruff_cache
**/.zed

docs/superpowers
.vercel

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store

# Logs & local
*.log
*.local
dist-ssr
